# Django
*.log
*.pot
*.pyc
.env
__pycache__/
local_settings.py
db.sqlite3
media/

# Virtual Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iws

# Pliki systemowe
.DS_Store
Thumbs.db